<div class="container">
    <div>
        <input [(ngModel)]="searchTerm" placeholder="Search by Email" />
        <button (click)="applyFilters()">Search</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedData">
                <td>{{ item.id }}</td>
                <td>{{ userName(item.email) }}</td>
                <td>{{ item.email}}</td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <div class="page-info">Page {{ currentPage }} of {{ totalPages }}</div>
        <div class="page-buttons">
            <button (click)="prevPage()">Previous</button>
            <label for="pageInput">Go to Page</label>
            <input type="number" id="pageInput" [(ngModel)]="desiredPage" min="1" max="{{ totalPages }}" />
            <button (click)="goToPage()" [disabled]="desiredPage > totalPages">Go</button>
            <button (click)="nextPage()">Next</button>
        </div>
    </div>


    <!-- this how we want use the Directives -->

    <!-- <div appScrollToElement="elementId">Content to scroll to</div>
    <img [src]="imageUrl" appImageError="path/to/error-image.png" /> -->

</div>