:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 20px rgb(73, 71, 71); 
    background-color: #ffffff0c;
    border-radius: 8px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    color: #343a40;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #495057;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    color: #495057;
    transition: border-color 0.2s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  form,span{
    color: #dc3545;
  }
  
  button {
    background-color: #1d7deb;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 25%;
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  